/*-------------
Theme: Startboostrap landing page;
Author:Code for Africa;

------------------------*/

@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Raleway');

body {
    font-family: 'Raleway', 'Hammersmith One', sans-serif;
    background-color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway','Hammersmith One', sans-serif;
    font-weight: 700;
}

/*-------------

Featured Story


 ------------------------*/

header.featuredstory {
    position: relative;
    background-color: #343a40;
    background: url("../img/Header-banner.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.featuredstory .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.featuredstory h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    header.featuredstory {
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
    header.featuredstory h1 {
        font-size: 3rem;
    }
}


/*-------------

Section css


 ------------------------*/



section.about {
    min-height: 35rem;
    background-color: #2D2D2D;
}
.about .about-text {
    padding: 3rem;
}

@media (min-width: 768px) {
    .about .about-text {
        padding: 7rem;
    }
}

section.campaign {
    width: 100%;
    height: 100vh;
    color: black;
}

section.mapping {
    width: 100%;
    height: 100vh;
    color: white!important;
}

section.videos {
    width: 100%;
    height: 100vh;
    color: #262626;
    background-color: #fff;
}

section.stories {
    width: 100%;
    height: auto;
    color: #262626;
    background-color: #fff;
}

section.photo-podcast {
    width: 100%;
    height: 100vh;
    color: black;
    background-color: white!important;
    padding: 70px 0;
    position: relative;
}

section.newsletter {
    width: 100%;
    height: 100vh;
    color: white!important;
}


/*-------------

Campaign css


 ------------------------*/

.campaign-icons {
    padding-top: 4rem;
    padding-bottom: 7rem;
}

.campaign-icons .campaign-icons-item {
    max-width: 20rem;
}

.campaign-icons .campaign-icons-item .campaign-icons-icon {
    height: 3rem;
}

.campaign-icons .campaign-icons-item .campaign-icons-icon i {
    font-size: 4.5rem;
}

.campaign-icons .campaign-icons-item:hover .campaign-icons-icon i {
    font-size: 5rem;
}



/*-------------
Newsletter css


 ------------------------*/

.newsletter {
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url("../img/Footer-Banner.jpg") no-repeat center center;
}

.newsletter .newsletter-item {
    max-width: 18rem;
}

.newsletter .newsletter-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}



/*-------------

Call to action css


 ------------------------*/

.call-to-action {
    position: relative;
    background-color: #619183;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 2rem; //padding-bottom: 7rem;
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}


/*-------------

Navigation css


 ------------------------*/

.bg-dark {
    background-color: #fff!important;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
    }
    #mainNav .navbar-brand {
        font-size: 2em;
        -webkit-transition: font-size 0.3s;
        -moz-transition: font-size 0.3s;
        transition: font-size 0.3s;
    }
}

#mainNav .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #262626;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #18BC9C;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #18BC9C;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
}

#mainNav .navbar-nav {
    margin-top: 0;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active {
    color: #18BC9C;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
    color: #262626;
}

#mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #18BC9C;
    border: 2px solid #18BC9C;
    border-radius: .25rem;
    color: black;
}
.navbar-dark .navbar-nav .nav-link.active {
    color: black;
}

.social-menu {
    display: flex;
}


/*-------------

Button css


 ------------------------*/
.btn-primary {
    color: #fff;
    background-color: #262626!important;
    border-color: #262626 !important;
}
.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-outlined.btn-secondary {
    background-color: #DAD8D8;
    border: 1px solid #DAD8D8;
    color: black;
}

.btn-outlined.btn-success {
    background-color: #619183;
    border: 1px solid #619183;
    color: white;
}

/*-------------

Page Divider


 ------------------------*/

.divider {
    margin-top: 30px;
    display:flex;
    justify-content: center;
}
.divider i {
    color: #cccccc;
}

.divider:before,
.divider:after {
    content: "______________________________________________________________";
    color: #e6e8ea;
    position: relative;
    bottom: 6px;
}

.divider:before {
    right: 50px;
}

.divider:after {
    left: 50px;
}


/*-------------

Photo gallery


 ------------------------*/
.gallery {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.gallery {
    margin: 0;
    padding: 0;
    height: 100%;
}

.thumbnail {
    background: #000;
    width: 33.33%;
    height: auto;
    float: left;
}
.thumbnail {
    overflow: hidden;
    padding: 0;
    position: relative;
    cursor: zoom-in;
}

.thumbnail img {
    max-width: 100%;
    height:auto;
}
@media screen and (max-width:480px) {
    font-size: 12px;
}

/*-------------

Form css


 ------------------------*/
.form-group input[type="email"]
{
  border: none;
  border-bottom: 2px solid #a6af13;
  outline: none;
  height: 40px;

}


/*-------------

Footer css


 ------------------------*/
footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

footer ul {
    display: flex;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color:black;
}
.social-circle li i {
    color:black;
    margin: 0;
    line-height: 50px;
    text-align: center;
}
.social-circle i {
    color: #C4C3C3;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-circle  a {
    background-color: #C4C3C3;;
}
.fa-facebook {
    color: black;
}
.fa-twitter {
    color: black;
}
.fa-instagram {
    color: black;
}
.fa-envelope-o {
    color: black;
}