---
---

/*--------------------

Author: Code for Africa

------------------------*/

/*-----------------------

BASE CSS
------------------------*/

@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Raleway');

html{
  height:100%;
}

body {
  font-family: 'Raleway', 'Hammersmith One', sans-serif;
  background-color: #262626;
  display: inline-block; 
  min-width: 100%;
  height:100vh;
  box-sizing: border-box;
}
h2,h3,h4,h5,h6 {
  font-family: 'Raleway', 'Hammersmith One', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
h1 {
  font-family: 'Raleway', 'Hammersmith One', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

img {
  max-width: 100%;
  display:block;
  height:auto;
}


/*---------------------

SECTION CSS
------------------------*/
section.types-fgm {
  height:auto;
  min-height: 35rem;
  background-color:#221F1F!important;

}
section.types-fgm p{
  font-size: 1rem;
  font-family: Raleway;
  padding-left:0.4rem;
}
section.types-fgm img{
  width:550px;
  height:auto;
  max-width:100%;
}

@media (min-width: 768px) {
  .types-fgm {
    padding: 7rem;
  }
}
section.campaign {
  width: 100%;
  height:auto;
  color: black;
}
section.campaign h3{
  font-size: 1.5rem;
}
section.about-page {
  position: relative;
  width:100%;
  height:60vh;
  background: url('../img/background/About-BG.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.background-text-area {
  position: relative;
  background: url('../img/background/aboutimage-BG.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.map {
  width: 100%;
  height:auto;
  min-height: 100vh;
  color: white!important;
  backgroun-color:#221F1F;
}
section.map h2 {
  font-size:1.7rem;
}
section.map ul {
  line-height: 1.5;
  list-style-type: none;
  margin: 0;
}
section.map ul li{
  padding-bottom: 0.5rem;
}
section.map button.btn-outlined.btn-success:hover {
  background-color: #fff;
  border: 0px solid #619183;
  color: #779b90;
}
section.videos {
  color: black;
  width: 100%;
  height:auto;
  min-height: 70vh;
  color: #262626;
  background-color: #fff;
}
section.stories {
  width: 100%;
  height: auto;
  color: #262626;
  background-color: #fff;
}
section.photo-podcast {
  width: 100%;
  height:auto;
  min-height: 80vh;
  color: black;
  background-color: white!important;
  padding: 70px 0;
  position: relative;
}
section.newsletter {
  width: 100%;
  height: auto;
  min-height:60vh;
  color: white!important;
}
section.newsletter h4  {
  font-size:1.5rem;
}
section.newsletter p {
  font-size:0.9rem;
}
section.partner-media {
  width: 100%;
  height: auto;
  //color: #262626;
  background-color: #fff;
}
section.partner-logos{
  width: 100%;
  height: auto;
  //color: #262626;
  background-color: #fff;
}
section.team{
  width: 100%;
  height: auto;
  min-height: 150px;
  //color: #262626;
  background-color: #fff;
}
section.team h3{
  font-weight:900;
  font-size:1.2rem;
}
section.team p{
  font-size:0.8rem;
}
section.team img{
  height:200px;
  width:200px;
}

/*------------------------

BUTTON CSS
-------------------------*/

.btn-primary {
  color: #fff;
  background-color: #3a3a3a!important;
  border-color: #3a3a3a !important;
  outline: none!important;
}

.btn-outlined {
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  outline: none!important;
}

.btn-outlined.btn-secondary {
  background-color: #DAD8D8;
  border: 1px solid #DAD8D8;
  color: black;
  outline: none!important;
}

.subscribe {
  padding-right:2rem;
  padding-left:2rem;
  //font-size:;
}

.btn-outlined.btn-success {
  background-color: #619183;
  border: 0px solid #619183;
  color: white;
  //font-size:;
}
.btn:focus {
  outline: 0 !important;
}
.button-label {
  border-style: solid;
}

.section.map.btn-outlined.btn-success {
  background-color: #fff;
  border: 0px solid #619183;
  color: green;
  //font-size:;
}
//.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    //color: #fff;
    //background-color: #619183;
    //border-color: #619183;
//}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow:none;
}


h6 {
    overflow: hidden;
    text-align: center;
}
h6:before,
h6:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 33%;
}
h6:before {
    right: 0.5em;
    margin-left: -50%;
}
h6:after {
    left: 0.5em;
    margin-right: -50%;
}
h6{
  cursor:pointer
}

/*----------------------

NAVIGATION SECTION CSS
------------------------*/

.bg-dark {
  background-color: #fff!important;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav.navbar-shrink {
    //padding-top: 0.5rem;
    //padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #262626;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #619183;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

#mainNav .navbar-nav {
  margin-top: 0;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
  color: #262626;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
  color:#619183;
}
#mainNav .navbar-nav .navbar-brand {
  padding-left:10rem;
}
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 4.25rem;
  line-height: 2;
  background-color: #619183;
  border-radius: .25rem;
  height:5rem;
  width:5rem;
}
.navbar-dark .navbar-nav .nav-link.active {
  color: black;
}
.nav-item {
  margin: 0.4rem;
  padding-top: 1.2rem;
}
.social-menu {
  display: flex;
  padding-top: 0.4rem;
}
.nav-item:hover{
  color:#619183;
}
.main-logo{
  max-heigth:100%
}

/*------------------------

FEATURED STORY SECTION CSS
-------------------------*/
header.featuredstory {
  position: relative;
  background-color: #343a40;
  background: url('../img/background/Header-banner.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
header.featuredstory .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}
.featuredstory h1{
  font-size:3.1rem!important;
}
.featuredstory.text {
  color: #dedede;
}
.featuredstory article {
  font-size:1.55rem;
}
@media (min-width: 768px) {
  header.featuredstory {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  header.featuredstory h1 {
    font-size: 2rem;
  }
}
header.featuredstory a {
  color: white;
}
header.featuredstory a:hover {
  color: #619183;
  text-decoration-line: none;
}
header.featuredstory a b {
  font-size:1.2rem;
}
/*-----------------------

CALL TO ACTION SECTION CSS
-------------------------*/

.call-to-action {
  position: relative;
  background: url('../img/background/Button-BG.jpg') no-repeat center center;
  //background-color: #619183;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-call-to-action {
  position: relative;
  background: url('../img/background/Button-BG-tall.PNG') no-repeat center center;
  //background-color: #619183;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.call-to-action-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  //padding-right: 3.5rem;
  padding-left: 5.2rem;
}
.rowpadding {
  padding-top: 3rem;
  padding-bottom: 2rem;
  //padding-left:8rem;
  //padding-right:10rem;
}

.columnpadding {
  padding-bottom: 1rem;
  //padding-left: 5rem;
}

/*GET HELP BUTTON*/

.button-get-help {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    //padding: 25px 90px;
    border: 1px solid #5e8478;
    border-radius: 0px;
    background: #5e8478;
    background: -webkit-gradient(linear, left top, left bottom, from(#5e8478), to(#5e8478));
    background: -moz-linear-gradient(top, #5e8478, #5e8478);
    background: linear-gradient(to bottom, #5e8478, #5e8478);
    font: normal normal bold 48px Raleway;
    color: #ffffff;
    text-decoration: none;
}

.button-get-help:hover,
.button-get-help:focus {
    border: 1px solid #ffffff;
    //padding: 25px 90px;
    background: #ffffff;
    //-webkit-transition: background 1s;
    //-moz-transition: background 1s;
    //-o-transition: background 1s;
    //transition: background .5s
}

.button-get-help:before{
    content:  "\0000a0";
    display: inline-block;
    height: 100px;
    width: 300px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 2px;
    left: 2px;
    //background: url("../img/gethelpwhite.png") no-repeat left center transparent;
    background-size: 100% 100%;
}


/* REPORT ABUSE BUTTON*/
.button-report-abuse {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    //padding: 30px 82px;
    border: 1px solid #5e8478;
    border-radius: 0px;
    background: #5e8478;
    background: -webkit-gradient(linear, left top, left bottom, from(#5e8478), to(#5e8478));
    background: -moz-linear-gradient(top, #5e8478, #5e8478);
    background: linear-gradient(to bottom, #5e8478, #5e8478);
    font: normal normal bold 48px Raleway;
    color: #ffffff;
    text-decoration: none;
}
.button-report-abuse:hover,
.button-report-abuse:focus {
  border: 1px solid #ffffff;
  //padding: 30px 82px;
  background: #ffffff;
  //-webkit-transition: background 1s;
  //-moz-transition: background 1s;
  //-o-transition: background 1s;
  //transition: background .5s
}
.button-report-abuse:before{
    content:  "\0000a0";
    display: inline-block;
    height: 100px;
    width: 330px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 2px;
    left: 2px;
    //background: url("../img/reportabusewhite.png") no-repeat left center transparent;
    background-size: 100% 100%;
}
.onmousehover:hover {
  transition:.1s;
}

/*------------------------
 
 ABOUT SECTION CSS
------------------------*/

.about-container {
  padding-top: 4rem;
}

.about-row {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
}

.column-iframe {
  padding-bottom: 2rem;
}

.about p {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/*-----------------------

STORIES SECTION CSS
-------------------------*/
.card-lead-height {
  height:350px;
}
//Responsiveness
.card-img-overlay {
  min-height:350px;
  display:inline-block;
  max-width:100%;
  height:auto;
  overflow-y: hidden;
}
.lead-margin {
  margin-left: -1.9rem;
}
.card-title {
  font-size: 2.6rem;
}
.lead-subtitle {
  color: #e7e7e7;
  font-size: 1.2rem;
}
.story-height {
  height:300px;
}
.story-title {
  padding-top: 8rem;
}

a {
  color:black;
}
section.stories h3 a{
  color: white;
  text-decoration:none;
}
section.stories h5 a{
  color: white;
  text-decoration: none;
}
section.stories h4 a{
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
section.stories a:hover{
  color: #619183;
  text-decoration: none;
}

section.stories h6 {
    overflow: hidden;
    text-align: center;
}
section.stories h6:before,
section.stories h6:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 45%;
}
section.stories h6:before {
    right: 0.5em;
    margin-left: -50%;
}
section.stories h6:after {
    left: 0.5em;
    margin-right: -50%;
}
section.stories strong{
  padding:1rem;
}

/*----------------------

VIDEO SECTION CSS
-------------------------*/

section.videos a:hover{
  color: #619183;
  text-decoration: none;
}
.author-content {
  font-size: 0.8rem;
}
fea
section.videos h6 {
    overflow: hidden;
    text-align: center;
    padding-right: 5rem;
    padding-left: 2rem;
}
section.videos h6:before,
section.videos h6:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 45%;
}
section.videos h6:before {
    right: 0.5em;
    margin-left: -50%;
}
section.videos h6:after {
    left: 0.5em;
    margin-right: -50%;
}
section.videos strong{
  padding:1rem;
}
/*----------------------

PHOTO & PODCAST CSS
------------------------*/

.gallery {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.gallery {
  margin: 0;
  padding: 0;
  height: 100%;
}

.thumbnail {
  background: #000;
  width: 33.33%;
  //height: auto;
  float: left;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 0;
  overflow:hidden;
  height:135.86px;
} 
.thumbnail img {
  max-width: 100%;
  height: auto;
  padding: 0px;
}
.thumbnail img:hover { 
  border: 3px solid #619183; 
  overflow: hidden;

}

@media screen and (max-width:480px) {
  max-width:100%;
  height:auto;
}
@media screen and (max-width:600px) {
  max-width:100%;
  height:auto;
}
.dime{
  height:40px;
  width:70px;
}
.col-height {
  height: 540px;
}
section.photo-podcast a:hover{
  color: #619183;
  text-decoration: none;
}
section.photo-podcast h6 {
    overflow: hidden;
    text-align: center;
}
section.photo-podcast h6:before,
section.photo-podcast h6:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 45%;
}
section.photo-podcast h6:before {
    right: 0.5em;
    margin-left: -50%;
}
section.photo-podcast h6:after {
    left: 0.5em;
    margin-right: -50%;
}
//.sc-button-cta, .sc-button-cta:focus, .sc-button-cta:hover, .sc-button-cta:visited, .sc-button.sc-button-white:focus, .sc-button.sc-button-white:hover {
    //background-color: #779b90!important;
    //border-color: #779b90!important;
     //color: #fff!important;
//}

/*-----------------------

MAPPING SECTION CSS
-------------------------*/
.p-2 {
  height:80px;
  width:80px;
}
.p-2 img{
  height:50px;
  width:40px;
}

.explore-button {
  padding-left: 1rem;
  height:4rem;
  margin:1rem;
}

.logos-container {
  padding-top: 3rem;
}

.button-international {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


//#mapsreshape {
    //padding-top: 0px;
    //position: relative;
//}

//#mapsreshape iframe {
  //height:calc(100vh - 100px);
//}

/*----------------------

CAMPAIGN SECTION CSS
-------------------------*/
.campaign {
  padding-top: 4rem;
  padding-bottom: 7rem;
  background-color: #fff!important;
  color: black;
}
.campaign-icons-item {
  max-width: 20rem;
}
.campaign-icons-item .campaign-icons-icon {
  height: 1.5rem;
}
.campaign-icons-item .campaign-icons-icon i {
  font-size: 4.5rem;
}
.campaign-icons-item:hover .campaign-icons-icon i {
  font-size: 5rem;
}
/*---------------------

NEWSLETTER SECTION CSS
-------------------------*/

.newsletter {
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url('../img/background/Footer-Banner.jpg') no-repeat;
}

.newsletter .newsletter-item {
  max-width: 18rem;
}

.newsletter .newsletter-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.newsletter-row {
  padding-top: 3rem;
  padding-bottom:3rem;
}

.newsletter-column {
  padding-bottom: 3rem
}

.newsletter-subscribe-row {}

.newsletter h4 {
  padding-bottom: 1rem
}

.newsletter p {
  //color: #E7E7E7;
}
.form-control{
  border-radius:0rem;
  outline:0!important;
  cursor: pointer;
  height:15px;
  padding:15px;
}
.form-control-green:focus {
  border-color: #486b5f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
  //box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
} 
//placeholder italics
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}
 
/*-------------

FOOTER SECTION CSS
-------------------------*/
footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color:#303030!important;
}
footer h2 {
  font-size: x-large;
}
.text-gray {
  color: #bdbdbd;
}
footer ul {
  display: flex;
}
footer p {
  color: #bdbdbd;
  font-size: 0.9rem;
}
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.footnote {
  padding-top: 8rem;
}
.fa {
  color: #bdbdbd!important;
}

.fa:hover {
  border-radius: 50%;
  background-color: #619183;
}
.footer a{
  color:#619183;
}
.fa-inverse {
  color: black!important;
}
.overlay{
  background-size:cover;
  color: #3a3a3a;
  opacity: 0.25;
}

