---
layout: default
title: Home
---

<!-- Featured story -->
<header class="featuredstory text-white text-left">
  <div class="overlay"></div>
  <div class="container containerpadding">
    <div class="row">
      <div class="col-lg-12 col-md-6 col-sm-12 col-xs-8 col-xl-7">
        <section class="content">
          <label class="label-featuredstory">Featured story</label>
          <h2><a href="https://www.thecable.ng/two-years-ban-fgm-still-rampant-nigeria" target="_blank" rel="noopener">Two years after the ban, FGM still rampant in Nigeria</a></h2>
          <article class="article-text">After ban of FGM in Nigeria, the practice </br>continues. Ongechi Ekeanyanwu reports.</br>
          </article>
          <a href="https://www.thecable.ng/two-years-ban-fgm-still-rampant-nigeria" target="_blank" rel="noopener"><b>Read More.</b></a>
          
        </section>
      </div>
    </div>
  </div>
</header>

{% include call-to-action.html %}

<!-- About Section -->
<section class="about text-white" id="about">
 <div class="container about-container">
  <div class="row about-row">
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-8 portfolio-item column-iframe">
      <div style="padding-right:40px;">
       <p style="font-size:1rem;"><a href="&nbsp" class="btn btn-outlined btn-primary">ALL YOU  NEED TO KNOW ABOUT FGM</a></p>
      
      
      <div class="card block video-container" id="video" style="border-radius:0px;">
        <iframe width="100% " height="100% " padding="0" frameBorder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" seamless=”seamless” src="https://www.youtube.com/embed/HN1mulqwv5g " allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen
        msallowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div>
    <div class="col-lg-6 col-sm-6 col-md-6 portfolio-item ">
      <p style="font-size:1rem;"><a href="&nbsp" class="btn btn-outlined btn-primary">TYPES OF FGM</a></p>
      <div class="card-block ">
        <a href=""><img class="card-img-top " class="img-responsive img-fluid" src="img/fgm/transparent-fgm.png" onmouseover="this.src='img/fgm/types-of-fgm-over.png'" onmouseout="this.src='img/fgm/transparent-fgm.png'" alt="Infographic fgm" height="250px" style="width:500px;"></a>
      </div>
    </div>
  </div>
</div>
</div>
</section><!-- /.about -->

<!--Stories Section -->
<section class="stories parentcontainer" id="stories" style="height:auto;">
  <div class="container stories-container">

    <div class="row py-3">
      <button type="button" class="btn-outlined btn btn-secondary" disabled>STORIES</button>
    </div>

    <div class="row my-4">
      <div class="col-lg-8 col-md-4 col-sm-12 " style="padding-bottom:4rem;">
        <div class="card bg-dark text-white borders" style="height:350px;">
          <img class="card-img borders img-responsive" src="img/background/Header-banner.jpg" alt="Card image " height="350px">
          <div class="card-img-overlay" style="height:350px;display:inline-block;max-width:100%;height:auto;overflow-y: hidden;">
            <section class="content content-section ">
              <div class="row-fluid row-content-section">
                <p><a href="" class="btn btn-outlined btn-success lead" disabled>LEAD STORY</a></p>

                <p class="lead-author "><i>By Ogechi Ekeanyamwu | 3-8-17 | Development Cable</i></p>
              </div>
              <article>
                <h5 class="card-title lead-story-title"><a href="https://www.thecable.ng/two-years-ban-fgm-still-rampant-nigeria" target="_blank" rel="noopener">Two years after ban, FGM still rampant in Nigeria</a></h5>
                <p class="lead-story-paragraph"> After ban of FGM in Nigeria, the practice continues. Ongechi Ekeanyanwu reports.</p>
              </article>
            </section>
          </div>
        </div>
      </div> <!-- /.col-lg.8 -->

      <div class="col-md-4 mb-4 ">
        <div class="card bg-dark text-white borders">
          <img class="card-img borders img-responsive" src="img/stories/Thumbnail-1.jpg" alt="Card image " height="300px ">
          <div class="card-img-overlay ">
            <section class="content ">
              <div class="row-fluid ">
                <p class="side-story-author "><i>By Sola Abe | 8-1-17 | woman.ng</i></p>
              </div>
              <article class="side-story-article ">
                <h4><a href="http://woman.ng/2017/07/fgm-why-wont-i-cut-my-daughter/" target="_blank" rel="noopener">FGM Report: Why won't I cut my daughter? </a></h4>
              </article>
            </section>
          </div>
        </div>
        <div class="subtitle ">
         <p>FGM practices are rooted within family beliefs and traditions.Sola Abe reports....
          <strong><a class="readmore-link" href="http://woman.ng/2017/07/fgm-why-wont-i-cut-my-daughter/">Read More</a></strong></p>
        </div>
      </div>

      <!--Start col-md-4-->
      <div class="container ">
        <div class="row side-story-row ">
          <div class="col-md-4 mb-4 ">
            <div class="card bg-dark text-white borders">
              <img class="card-img borders img-responsive" src="img/stories/Thumbnail-2.jpg" alt="Card image " height="300px ">
              <div class="card-img-overlay ">
                <section class="content ">
                  <div class="row-fluid ">
                    <p class="side-story-author"><i>By Agency Report | 12-1-16 | Premium Times</i></p>
                  </div>
                  <article class="third-story-article">
                    <h4><a href="http://www.premiumtimesng.com/regional/ssouth-west/216846-osun-ranks-highest-in-female-genital-mutilation-un.html" target="_blank" rel="noopener">Onsun ranks highest in female genital mutilation</a></h4>
                  </article>
                </section>
              </div>
            </div>
            <div><p>Onsun records hightest prevalence of Female Genital Mutilation (FGM) in Nigeria...<strong><a href="http://www.premiumtimesng.com/regional/ssouth-west/216846-osun-ranks-highest-in-female-genital-mutilation-un.html" target="_blank" rel="noopener">Read More</a></strong></p>
            </div>
          </div>

          <div class="col-md-4 mb-4 ">
            <div class="card bg-dark text-white borders">
              <img class="card-img borders" src="img/stories/Thumbnail-3.jpg" alt="Card image " height="300px ">
              <div class="card-img-overlay ">
                <section class="content ">
                  <div class="row-fluid ">
                    <p class="side-story-author "><i>By Lilian Kaivilu| 5-3-17 | BornPerfect</i></p>
                  </div>
                  <article class="fourth-story-article ">
                    <h4><a href="../kenyan-man-who-dares">Kenyan man who dares to challenge female circumcision</a></h4>
                  </article>
                </section>
              </div>
            </div>
            <div class="third-story-paragraph ">Gesaka Chacha stands out in a group of community members assembled at a chief’s camp to discuss issues about female genital mutilation (FGM).....<strong><a href="../kenyan-man-who-dares">Read More</a></strong>
            </div>
          </div>

          <div class="col-md-4 mb-4 ">
            <div class="card bg-dark text-white borders">
              <img class="card-img borders" src="img/stories/Thumbnail-4.jpg " alt="Card image " height="300px ">
              <div class="card-img-overlay ">
                <section class="content ">
                  <div class="row-fluid ">
                    <p class="side-story-author"><i>By Fardosa Hussein  | 5-3-17 | BornPerfect</i></p>
                  </div>
                  <article class="fifth-story-article">
                    <h4 class="fifth-story-article"><a href="../my-story-living-with-the-scars">My story: Living with the scars</a></h4>
                  </article>
                </section>
              </div>
            </div>
            <div class="third-story-paragraph">Twelve years letter I am still learning how to live with the scars of the cut. Still fresh in my memory is that fateful day in December when it all happened....<strong><a href="../my-story-living-with-the-scars">Read More</strong></a>
            </div>
          </div><!--/.end of col-md-4-->
        </div>
      </div>
    </div><!--/. end of second container-->
    <div class="pt-4 pb-4"><h6><strong><a href="../stories"><b>Read more stories </b></a></strong></h6></div>
  </section>

</div>
</section>

<!--Video Section-->
<section class="videos " id="data" style="height:auto; padding-top:6rem;">
  <div class="container ">
    <div class="row video-section-row ">
      <button class="btn btn-outlined btn-success" disabled>VIDEOS</button>
    </div>
    <div class="row ">
      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 pb-lg-6 portfolio-item " style="padding-bottom:5rem;">
        <div class="card block video-container  ">
          <iframe  class="embed-responsive-item" width="100% " height="300px " frameborder="0 " src="https://www.youtube.com/embed/HN1mulqwv5g " allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 portfolio-item ">
        <div class="card-block video-container ">
          <iframe  class="embed-responsive-item" width="100%" height="300px" src="https://www.youtube.com/embed/mFEa-12LnhY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <!--<video width="100% " height="300px" poster="https://s3-eu-west-1.amazonaws.com/com.ventramediagroup.transcode.outbox/Female+Genital+Mutilationmp4-360pMP4-00002.jpg"  controls><source src="https://s3-eu-west-1.amazonaws.com/com.ventramediagroup.transcode.outbox/Female+Genital+Mutilationmp4-360pMP4.mp4" type="video/mp4">.</video>-->
          </div>
      </div>
    </div>
    <a href="../videos"><div class="pt-4 pb-4"><h6><strong>Watch more videos</strong></h6></div></a>
  </section>

  <!--Photo & Podcast section-->
  <section class="photo-podcast section-padding " style="height:auto; padding-top:10rem; ">
    <div class="container pd-4">
      <div class="row ">
        <div class="col-sm-5 col-md-6 " style="height: 640px; ">

          <div class="row photo-row-section ">
            <button type="button " class="btn btn-outlined btn-success" disabled>PHOTOS</button>
          </div>

        <div class="d-flex align-content-start flex-wrap">
          <div class="gallery" id="links">
            <div class="d-flex  align-content-start flex-wrap" >
                <a href="img/gallery/fgm-1.jpg" title="1/9- “Circumcising her will enable her to control this (sexual) urge so she can stay with her husband without jumping from one man to another,” Muniyat Lamidi rationalises female genital mutilation (FGM) " class="thumbnail " width="300px" height="500px">
                  <img src="img/gallery/gallery-thumbnail/fgm-thumbnail-1.jpg " alt=" " />
                </a>

                <a href="img/gallery/fgm-2.jpg" title="2/9- According to data from the Nigeria Demographics and Health Survey, 24.8 percent of Nigerian girls and women aged 15 to 49 have been circumcised," class="thumbnail ">
                  <img src="img/gallery/gallery-thumbnail/fgm-thumbnail-2.jpg " alt=" " />
                </a>

                <a href="img/gallery/fgm-3.jpg" title=" 3/9- In some parts of Nigeria, deep-seated patriarchal normsfuel the continued existence of the practice; in other parts, the belief that no child should be born with a clitoris intact fans the FGM embers, as is the case in Ilawe." class="thumbnail ">
                  <img src="img/gallery/gallery-thumbnail/fgm-thumbnail-3.jpg" alt=" " />
                </a>

                <a href="img/gallery/fgm-4.jpg"  title="4/9- FGM takes place rampantly in urban areas, contrary to popular opinion, as people call these ‘surgeons’ from the villages to the cities and towns to circumcise their girls." class="thumbnail">
                  <img src="img/gallery/gallery-thumbnail/fgm-thumbnail-4.jpg " alt=" " />
                </a>

                <a href="img/gallery/fgm-5.jpg" title="5/9- In Lagos, the awareness of FGM is high but statistics showed that four out of 10 girls or women had undergone female genital mutilation" class="thumbnail ">
                  <img src="img/gallery/gallery-thumbnail/fgm-thumbnail-5.jpg " alt=" " />
                </a>

                <a href="img/gallery/fgm-6.jpg" title="6/9- Mrs. Remi Ajogbeje, a traditional birth attendant in Idanre, is a mother of two girls. She firmly believes that “FGM is good, very healthy and can cause the body to react negatively if not done.”" class="thumbnail ">
                  <img src="img/gallery/gallery-thumbnail/fgm-thumbnail-6.jpg " alt=" " />
                </a>

                <a href="img/stories/Thumbnail-3.jpg"  title="7/9- Ibrahim says most of the girls she cuts are from the displacement camp or the local neighbourhood. June to August is the ‘peak season’ for cutting, she says." class="thumbnail ">
                  <img src="img/stories/Thumbnail-3.jpg " alt=" " />
                </a>

                <a href="img/stories/Thumbnail-2.jpg"  title="8/9- Cibaado Ismail, 80, lives in Rugta camp for internally displaced people, just outside Hargeisa, Somaliland’s capital. She lost one of her four daughters due to complications while giving birth because of FGM" class="thumbnail">
                  <img src="img/stories/Thumbnail-2.jpg " alt=" " />
                </a>

                <a href="img/stories/Thumbnail-1.jpg" title=" 8/9- Y-Peer particularly targets health students. As well as visiting colleges to raise awareness, the young people share information on Facebook and Twitter" class="thumbnail ">
                  <img src="img/stories/Thumbnail-1.jpg" alt=" " />
                </a>
              </div>

            </div>
          </div>
<!--Courasel gallery of the images-->
          <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" style="color:white;">
              <div class="slides"></div>
             <h3 class="title d-flex" style="padding-left:500px;color:#dedede;font-size:medium;top:60%"></h3>
              <a class="prev">‹</a>
              <a class="next">›</a>
              <a class="close" style="font-size:2rem;font-weight:lighter;">×</a>
              <ol class="indicator"></ol>
          </div>

          <div class="pt-4 pb-6"><h6><strong><a href="">View more images </a></strong></h6></div>
        </div>

        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 ">
          <div class="row pt-2 pl-3 pb-3">
            <button class="btn btn-outlined btn-success" disabled>PODCAST</button>
            <p class="lead-author "><i>By Bunmi Yekini | 3-8-17 |  Radio Nigeria </i></p>
          </div>
          <div class="card podcast-height ">
            <div class="card-body ">
              <iframe  class="sc-button-cta" width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/442647489&amp;color=%23779b90&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
            </div>
            <div class="card-footer ">
              <small class="text-muted "><img  class="pr-3" src="/img/logos/codeforafrica_img.jpg" height="40px" width="70px">Latest tracks by Code for Africa</small>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>


  {% include home/map.html %}

  {% include home/campaign.html %}

  {% include newsletter.html %}

