<!-- Newsletter Section -->
<section  class="newsletter" id="contact" style="height:auto; ">
    <div class="container pt-3">
      <div class="row" style="padding-right:2rem;padding-left:2rem; padding-top:2rem;">
        <div class="col-lg-6 col-xs-6 col-md-6 imgwrapper newsletter-column " style="padding-left:4rem;">
          <h4 style="font-size:1.5rem;">Subscribe for Updates</h4>
          <p style="color:#bdbdbd; font-size:0.9rem;padding-right:1rem;">Sign up to our Newsletter to recieve weekly update, social reports and featured insights as we cover one of the most critical isssues of sour time.</p>
        </div>

        <div class="col-lg-6 col-xs-6 col-md-6 imgwrapper " style="padding-right:4rem;">
          <form action="https://codeforafrica.us6.list-manage.com/subscribe/post?u=65e5825507b3cec760f272e79&amp;id=61d2c2e4c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="form-group">
              <input type="email " class="form-control form-control-green" id="formGroupExampleInput" value="" name="EMAIL" placeholder="Email address ">
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-green" id="formGroupExampleInput2" value="" name="FULLNAME" placeholder="Full Name">
            </div>
            
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65e5825507b3cec760f272e79_61d2c2e4c8" tabindex="-1" value=""></div>

            <div class="pull-right" >
              <input class="btn btn-outlined btn-success subscribe" type="submit" name="subscribe" value="Subscribe ">
            </div>

          </form> 
        </div>
      </div>  
    </div>  
  </div>
</section>
