<!-- Call to Action -->
<section class="call-to-action text-white text-center" id="calltoaction">
  <div class="container call-to-action-container">
    <div class="row">
      <div class="col-lg-6 col-xs-6 col-md-6 pb-3 ">
         <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-Z_y3LQGFZJMcc_Upbb7vhLxhW_OKtKyGs4ylNwXtsIFThQ/viewform" target="_blank" rel="noopener">
           <img  class="button-report-abuse img-responsive onmousehover img-fluid "  src='img/action/ReportAbuse.png' onmouseover="this.src='img/action/ReportAbuse-Overstate.png'" onmouseout="this.src='img/action/ReportAbuse.png'" >
         </a>
      </div>
      <div class="col-lg-6 col-xs-6 col-md-6 pb-3" style="padding-left:0!important;">
        <a href="https://docs.google.com/forms/d/1IZAkQQKluhXMuYAIxMxBTOQMXb_YmGenLRMO1f-NkAM/viewform?edit_requested=true" target="_blank" rel="noopener">
          <img class="button-get-help img-responsive img-fluid" src='img/action/GetHelp.png' onmouseover="this.src='img/action/GetHelp-Overstate.png'" onmouseout="this.src='img/action/GetHelp.png'">
        </a>
      </div>
    </div>
  </div>
</section>
