<!-- Call to Action -->
<section class="call-to-action text-white text-center" id="calltoaction">
  <div class="container">
    <div class="row rowpadding">
      <div class="col-lg-6 col-xs-6 col-md-6  pl-lg-5 imgwrapper columnpadding">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-Z_y3LQGFZJMcc_Upbb7vhLxhW_OKtKyGs4ylNwXtsIFThQ/viewform" target="_blank" rel="noopener"><img src='img/action/Report-Abuse-Green.jpg' onmouseover="this.src='img/action/Report-Abuse-Hover.jpg'" onmouseout="this.src='img/action/Report-Abuse-Green.jpg'" class="img-responsive img-fluid " height="140px" width="440px"></a>
      </div>
      <div class="col-lg-6 col-xs-6 col-md-6 pr-lg-5 imgwrapper gethelp">
        <a href="https://docs.google.com/forms/d/1IZAkQQKluhXMuYAIxMxBTOQMXb_YmGenLRMO1f-NkAM/viewform?edit_requested=true" target="_blank" rel="noopener"><img src='img/action/Get-Help-Green.jpg' onmouseover="this.src='img/action/Get-Help-Hover.jpg'" onmouseout="this.src='img/action/Get-Help-Green.jpg'" class="img-responsive img-fluid" height="140px" width="440px"></a>
      </div>
    </div>
  </div>
</section>
