<!--Footer Section-->
<footer class="footer text-white">
  <div class="container ">
    <div class="row row grid-divider ">
      <div class="col-md-6 col-lg-6 ">
        <div class="col-padding ">
          <h4><b>About Born Perfect</b> us</h4>
          <p class="para-1 ">Through the "Hunger Across Africa " project ,the Voice of America provides ongoing coverage of all the angels of africas worst humanitarian crisis in decade.Read more of the About Us page</p>
          <div class="d-flex flex-row ">
            <div class="p-2 "><img src="img/logos/CodeforAfricaLogo.jpg " class="img-fluid " alt="Code for africa logo " width="100px " height="80px "></div>
            <div class="p-2 "><img src="img/logos/logo1.png " alt="ICFJ logo " class="img-fluid " width="100px " height="80px "></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 ">
        <div class="col-padding ">
          <h4><b>Credits </b></h4>
          <p class="para-2 ">This Project was created by a team of Journalist,Developers and Designers at the Voice of America.</p>
        </div>
        <p class="para-2 "> All images courtesy of the guardian</p>
      </div>
      <div class="col-lg-3 ">
        <div class="col-padding ">
          <h4><b>Social Links</b></h4>
          <div class="d-flex flex-row ">
            <ul class="social-network social-circle ">
              <li><a href="# " title="Twitter "><i class="fa fa-twitter "></i></a></li>
              <li><a href="# " title="Facebook "><i class="fa fa-facebook "></i></a></li>
              <li><a href="# " title="Instagram "><i class="fa fa-instagram "></i></a></li>
              <li><a href="# " title="Mail "><i class="fa fa-envelope-o "></i></a></li>
            </ul>       
          </div>
          <div class="d-flex flex-row-reverse footnote ">
            <p>CFA is an initiative of ICFJ</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js "></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js "></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling.js "></script>

