<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top text-uppercase" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">
      <img src="img/logos/Logo-full-transparent.jpg" class="img-responsive" alt="born free logo" height="150px" width="480px" style="height:100%;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse menupadding" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" style="padding-left:3rem;">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#stories"><b>Stories</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#videos"><b>Videos</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#map"><b>Data</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact"><b>Subscribe</b></a>
        </li>
        <li class="nav-item">
          <div class="social-menu">
            <span><a href="{{ site.tw_url }}" target="_blank" rel="noopener"><img src="img/social-icons/Share-05.png" onmouseover="this.src='img/social-icons/Share-06.png'" onmouseout="this.src='img/social-icons/Share-05.png'" class="img-responsive" width="30px" height="30px" style="margin-right: 1rem;"></a></span>
            <span><a href="{{ site.fb_url }}" target="_blank" rel="noopener"><img src="img/social-icons/Share-03.png" onmouseover="this.src='img/social-icons/Share-04.png'" onmouseout="this.src='img/social-icons/Share-03.png'" class="img-responsive" width="30px" height="30px" style="margin-right: 1rem;"></a></span>
            <span><a href="{{ site.fb_url }}" target="_blank" rel="noopener"><img src="img/social-icons/Share-01.png" onmouseover="this.src='img/social-icons/Share-02.png'" onmouseout="this.src='img/social-icons/Share-01.png'" class="img-responsive" width="32px" height="32px" style="margin-right: 1rem;"></a></span>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
