<!-- Newsletter Section -->
<section  class="newsletter" id="contact" style="height:auto; ">
  <div class="container pt-3">
    <div class="row">
      <div class="col-lg-4 col-xs-4 col-md-4 ml-auto offset-md-1 imgwrapper newsletter-column ">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-Z_y3LQGFZJMcc_Upbb7vhLxhW_OKtKyGs4ylNwXtsIFThQ/viewform" target="_blank" rel="noopener">
           <img  class="button-report-abuse img-responsive img-fluid "   src='img/action/reportabusewhite.png' onmouseover="this.src='img/action/reportabusegreen.png'" onmouseout="this.src='img/action/reportabusewhite.png'" >
         </a>
      </div>
      <div class="col-lg-4 col-xs-4 col-md-4 mr-auto offset-md-1 imgwrapper ">
        <a href="https://docs.google.com/forms/d/1IZAkQQKluhXMuYAIxMxBTOQMXb_YmGenLRMO1f-NkAM/viewform?edit_requested=true" target="_blank" rel="noopener">
          <img class="button-get-help img-responsive img-fluid" src='img/action/gethelpwhite.png' onmouseover="this.src='img/action/gethelpgreen.png'" onmouseout="this.src='img/action/gethelpwhite.png'">
        </a>
      </div>
    </div>
    <div class="container pt-3">
      <div class="row">
        <div class="col-lg-4 col-xs-4 col-md-4 ml-auto offset-md-1 imgwrapper newsletter-column " >
          <h4 style="font-size:1.5rem;">Subscribe for Updates</h4>
          <p style="color:#bdbdbd; font-size:0.9rem;">Sign up to our Newsletter to recieve weekly update, social reports and featured insights as we cover one of the most critical isssues of sour time.</p>
        </div>

        <div class="col-lg-4 col-xs-4 col-md-4 mr-auto offset-md-1 imgwrapper ">
          <form action="https://codeforafrica.us6.list-manage.com/subscribe/post?u=65e5825507b3cec760f272e79&amp;id=61d2c2e4c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="form-group">
              <input type="email " class="form-control form-control-green" id="formGroupExampleInput" value="" name="EMAIL" placeholder="Email address ">
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-green" id="formGroupExampleInput2" value="" name="FULLNAME" placeholder="Full Name">
            </div>
            
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65e5825507b3cec760f272e79_61d2c2e4c8" tabindex="-1" value=""></div>

            <div class="pull-right" >
              <input class="btn btn-outlined btn-success subscribe" type="submit" name="subscribe" value="Subscribe ">
            </div>

          </form> 
        </div>
      </div>  
    </div>  
  </div>
</section>
