<!-- Newsletter Section -->
<section  class="newsletter" id="contact" style="height:auto; ">
  <div class="container pt-3">
    <div class="row">
      <div class="col-lg-4 col-xs-4 col-md-4 ml-auto offset-md-1 imgwrapper newsletter-column ">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-Z_y3LQGFZJMcc_Upbb7vhLxhW_OKtKyGs4ylNwXtsIFThQ/viewform">
            <img src="img/action/report_abuse_green.jpg " class="img-fluid " width="400px " height="150px ">
          </a>
      </div>
      <div class="col-lg-4 col-xs-4 col-md-4 mr-auto offset-md-1 imgwrapper ">
          <a href="https://docs.google.com/forms/d/1IZAkQQKluhXMuYAIxMxBTOQMXb_YmGenLRMO1f-NkAM/viewform?edit_requested=true">
            <img src="img/action/gethelp_green.jpg " class="img-fluid " width="400px " height="150px ">
          </a>
        </div>
    </div>
    <div class="container pt-3">
      <div class="row">
        <div class="col-lg-4 col-xs-4 col-md-4 ml-auto offset-md-1 imgwrapper newsletter-column " >
          <h4>Subscribe for Updates</h4>
          <p> Sign up for our Newsletter to recieve weekly update,social reports and eatured insights as we cover one of the most critical isssues of our time.</p>
        </div>

        <div class="col-lg-4 col-xs-4 col-md-4 mr-auto offset-md-1 imgwrapper ">
          <form>
            <div class="form-group ">
              <input type="text " class="form-control " id="formGroupExampleInput " placeholder="Email address ">
            </div>
            <div class="form-group ">
              <input type="text " class="form-control " id="formGroupExampleInput2 " placeholder="Organization ">
            </div>
            <div class="pull-right " >
              <input class="btn btn-outlined btn-success " type="submit " value="Subscribe "></div>
            </form> 
          </div>
        </div>  
      </div>  
    </div>
  </div>
</section>