<!-- Newsletter Section -->
<section class="newsletter" id="subscribe">
  <div class="container">
    <div class="row pr-5 pl-4">
      <div class="col-lg-6 col-xs-6 col-md-6 py-5">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-Z_y3LQGFZJMcc_Upbb7vhLxhW_OKtKyGs4ylNwXtsIFThQ/viewform" target="_blank" rel="noopener">
         <img  class="button-report-abuse onmousehover"  height="150px" src='img/action/ReportAbuse.png' onmouseover="this.src='img/action/ReportAbuse-Overstate.png'" onmouseout="this.src='img/action/ReportAbuse.png'">
       </a>
     </div>
     <div class="col-lg-6 col-xs-6 col-md-6 py-5">
      <a href="https://docs.google.com/forms/d/1IZAkQQKluhXMuYAIxMxBTOQMXb_YmGenLRMO1f-NkAM/viewform?edit_requested=true" target="_blank" rel="noopener">
        <img class="button-get-help pr-2" src='img/action/GetHelp.png' height="150px" onmouseover="this.src='img/action/GetHelp-Overstate.png'" onmouseout="this.src='img/action/GetHelp.png'">
      </a>
    </div>
  </div>
  <div class="container pt-2">
    <div class="row pr-5 pl-2">
      <div class="col-lg-6 col-xs-6 col-md-6 pt-2">
        <h4 >Subscribe for Updates</h4>
        <p class="text-grey mr-4 pr-4">Sign up to our newsletter to recieve weekly update, social reports and featured insights.</p>
      </div>
      <div class="col-lg-6 col-xs-6 col-md-6 pl-4 pr-5 pt-2">
        <form action="https://codeforafrica.us6.list-manage.com/subscribe/post?u=65e5825507b3cec760f272e79&amp;id=61d2c2e4c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="form-group">
            <input type="email " class="form-control form-control-green" id="formGroupExampleInput" value="" name="EMAIL" placeholder="Email address ">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-green" id="formGroupExampleInput2" value="" name="FULLNAME" placeholder="Full Name">
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65e5825507b3cec760f272e79_61d2c2e4c8" tabindex="-1" value=""></div>
          <div class="pull-right" >
            <input class="btn btn-outlined btn-success subscribe" type="submit" name="subscribe" value="Subscribe ">
          </div>
        </form> 
      </div>
    </div>  
  </div>  
</div>
</section>
