<!-- Call to Action -->
<section class="page-call-to-action text-white text-center" id="calltoaction" style="padding-top:12rem;padding-bottom:2rem;">
  <div class="container">
    <div class="row rowpadding">
      <div class="col-lg-4 col-xs-4 col-md-4 ml-auto offset-md-1 imgwrapper columnpadding">
         <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-Z_y3LQGFZJMcc_Upbb7vhLxhW_OKtKyGs4ylNwXtsIFThQ/viewform" target="_blank" rel="noopener">
           <img  class="button-report-abuse img-responsive onmousehover img-fluid "  src='img/action/ReportAbuse.png' onmouseover="this.src='img/action/ReportAbuse-Overstate.png'" onmouseout="this.src='img/action/ReportAbuse.png'" >
         </a>
      </div>

      <div class="col-lg-4 col-xs-4 col-md-4 mr-auto offset-md-1 imgwrapper gethelp" >
        <a href="https://docs.google.com/forms/d/1IZAkQQKluhXMuYAIxMxBTOQMXb_YmGenLRMO1f-NkAM/viewform?edit_requested=true" target="_blank" rel="noopener">
          <img class="button-get-help img-responsive img-fluid" src='img/action/GetHelp.png' onmouseover="this.src='img/action/GetHelp-Overstate.png'" onmouseout="this.src='img/action/GetHelp.png'">
        </a>
      </div>

    </div>
  </div>
</div>
</section>
