---
layout: default
---
<div style="background-color:white!important;">
  {% include page-call-to-action.html %}

  <section class="content" style="background-color:white!important;font-size:20px;align-content: center">
    <div>
      <div class="container" style="padding-left:20px;">
        <div class="row" style="padding-left:9rem;">
          <div class="col-10" style="padding-top:5rem; padding-bottom:6rem;padding-left:4rem;">
            <h3 class="text-center" style="padding-bottom:1rem; font-size:2rem;">{{ page.title }}</h3>
            <h4 class="text-center" style="padding-bottom:3rem; font-size:1.3rem;"><i>By {{ page.author }}</i></h4>
            <article class="text-center">{{ content }}</article>
          </div>
        </div>
      </div>
    </section>

    {% include newsletter.html %}

  </div>

