---

---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="Code for Africa">
	<title>{{ site.title }}</title>
	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- Custom fonts -->
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Raleway" rel="stylesheet">
	<!-- Custom styles -->
	<link href="css/style.css" rel="stylesheet">
</head>

<body id="page-top" style="background-color:white!important;">
	{% include navbar.html %}
	{% include page-call-to-action.html %}

	<section class="content" style="background-color:white!important;font-size:20px;">
		<div>
			<div class="container pt-6 pb-8">
				<div class="row pt-4 pb-8">
					<div class="col-8"></div>
					<h4>{{ post.title }}</h4>
					<h3>{{ post.author }}</h3>
					<article>{{ content }}</article>
				</div>
			</div>
		</div>
	</section>

	{% include newsletter.html %}

</body>

</html>

