<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{site.author}}">

  <!-- The Open Graph protocol -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="#BornPerfect">
  <meta property="og:url" content="{{site.url}}">
  <meta property="og:image" content="{{site.url}}/img/background/Header-banner.jpg">
  <meta property="og:description" content="Stories from across the continent about FGM. Supported by Code for Africa and ICFJ">
  <!--./Open Graph protocol -->

  <!-- Twitter Summary Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{site.url}}">
  <meta name="twitter:creator" content="@Code4Africa">
  <meta name="twitter:description" content="Stories from across the continent about FGM. Supported by Code for Africa and ICFJ">
  <meta name="twitter:title" content="#BornPerfect">
  <meta name="twitter:image" content="{{site.url}}/img/background/Header-banner.jpg">
  <meta name="twitter:image:alt" content="BornPerfect Logo">
  <!-- Twitter Summary Card -->

  <title>{{ site.title }}</title>
  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Custom fonts -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Raleway" rel="stylesheet">
  <!-- Custom styles -->
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="css/blueimp-gallery.min.css">
</head>

<body id="page-top">

  {{ content }}

  {% include umbrella-footer.html %}

</body>

</html>