<!-- Campaign & Conversatin Section -->
<section class="campaign-icons" id="campaign">
  <div class="container title-container " style="padding-left:0px;">
    <div class="container" >
      <h3 style="font-size:1.5rem;"><b>Join the conversation</b></h3>
    </div>
    <div class="row ">
      <div class="col-lg-4 ">
        <div class="campaign-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="campaign-icons-icon d-flex ">
          </div>
          <a href="{{ site.fb_url }}" target="_blank" rel="noopener"><img class="img-responsive img-fluid" src="img/social-icons/Facebook-Social.jpg" onmouseover="this.src='img/social-icons/facebook-white.png'" onmouseout="this.src='img/social-icons/Facebook-Social.jpg'" alt=" "></a>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="campaign-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 ">
          <div class="campaign-icons-icon d-flex ">
          </div>
          <a href="{{ site.tw_url }}" target="_blank" rel="noopener"><img class="img-fluid img-responsive" src="img/social-icons/Twitter-Social.jpg" onmouseover="this.src='img/social-icons/twitter-white.png'" onmouseout="this.src='img/social-icons/Twitter-Social.jpg'"
            alt=" "></a>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="campaign-icons-item mx-auto mb-0 mb-lg-3">
          <div class="campaign-icons-icon d-flex">
          </div>
          <a href="{{ site.ig_url }}" target="_blank" rel="noopener"><img class="img-fluid img-responsive" src="img/social-icons/Instagram-Social.jpg"  onmouseover="this.src='img/social-icons/instagram-white.png'" onmouseout="this.src='img/social-icons/Instagram-Social.jpg'" alt=" "></a>
        </div>
      </div>
    </div>
  </div> 

  <div class="container ">
    <div class="row ">
      <div class="container born-free-container" style="padding-left:0px;">
        <div class="container">
        <buttton class="btn btn-outlined btn-success ">#BORNPERFECT CAMPAIGN</buttton>
      </div>
        <div class="container" style="padding-left:0px;">

          <div class="row">
            <div class="col-lg-4 ">
              <div class="campaign-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 ">
                <div class="campaign-icons-icon d-flex ">
                </div>
                <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/Be2m-UNHEi-/" height="400px" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; padding:0; height:400px;" >
                  <div style="padding:8px;"> 
                    <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:62.5% 0; text-align:center; width:100%;"> 
                      <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;">   
                      </div>
                    </div> 
                   </div>
                 </blockquote> 
              </div>
              <div class="container ">
                <div class="d-flex flex-row ">
                  <div class="p-2 "><a href=""><img class="img-responsive img-fluid " src="img/social-icons/Share-01.jpg " alt=" " width="25px " height="25px "></a></div>
                  <div class="p-2 "><a href=""><img class="img-responsive img-fluid " src="img/social-icons/Share-03.jpg " alt=" " width="25px " height="25px "></a></div>
                  <div class="p-2 "><a href=""><img class="img-responsive img-fluid " src="img/social-icons/Share-05.jpg " alt=" " width="25px " height="25px "></a></div>
                </div>
              </div>
              <div class="row born-free-paragraph ">#bornperfect #stopfgm</div>
            </div>

            <div class="col-lg-4 ">
              <div class="campaign-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 ">
                <div class="campaign-icons-icon d-flex ">
                </div>
                <!--<iframe  class="img-fluid img-responsive" src="https://www.instagram.com/p/BfLd3v6FL6j/?tagged=endfgm"></iframe>-->
                <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/BfI16GYhnZT/" height="400px" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; padding:0; height:300px;">
                  <div style="padding:8px;"> 
                    <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"> 
                </div>
              </div> 
              </div>
            </blockquote> 

              <script async defer src="//www.instagram.com/embed.js"></script>
              </div>
              <div class="container ">
                <div class="d-flex flex-row ">
                  <div class="p-2 "><a href=""><img class="img-responsive img-fluid " src="img/social-icons/Share-01.jpg " alt=" " width="27px" height="27px "></a></div>
                  <div class="p-2 "><a href=""><img class="img-responsive img-fluid " src="img/social-icons/Share-03.jpg " alt=" " width="25px " height="25px "></a></div>
                  <div class="p-2 "><a href=""><img class="img-responsive img-fluid " src="img/social-icons/Share-05.jpg " alt=" " width="25px " height="25px "></a></div>
                </div>
              </div>
              <div class="container " >
                <div class="row born-free-paragraph ">She won't cut her daughter #bornperfect #stopfgm</div>
              </div>
            </div>

            <div class="col-lg-4 ">
              <div class="campaign-icons-item mx-auto mb-0 mb-lg-3 ">
                <div class="campaign-icons-icon d-flex "></div>
                <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/BfIUVAJH-o9/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; padding:0; height:400px;">
                  <div style="padding:8px;"> 
                    <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:28.194444444444443% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;">
                    </div>
                  </div>
              </blockquote>
              </div>
              
              <div class="container ">
                <div class="d-flex flex-row ">
                  <div class="p-2 "><a href=""><img class="img-responsive img-fluid " src="img/social-icons/Share-01.jpg " alt=" " width="25px " height="25px "></a></div>
                  <div class="p-2 "><a href=""><img class="img-responsive img-fluid " src="img/social-icons/Share-03.jpg " alt=" " width="25px " height="25px "></a></div>
                  <div class="p-2 "><a href=""><img class="img-responsive img-fluid " src="img/social-icons/Share-05.jpg " alt=" " width="25px " height="25px "></a></div>
                </div>
              </div>

              <div class="row born-free-paragraph ">Share your story #bornperfect</div>

            </div>
          </div>
        </div>
      </section>