<!-- Campaign & Conversatin Section -->
<section class="campaign-icons " id="campaign ">
  <div class="container title-container ">
    <div class="container ">
      <h2>Join the conversation</h2>
    </div>

    <div class="row ">
      <div class="col-lg-4 ">
        <div class="campaign-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 ">
          <div class="campaign-icons-icon d-flex ">
          </div>
          <img class="img-responsive img-fluid " src="img/facebook_green.jpg " alt=" ">
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="campaign-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 ">
          <div class="campaign-icons-icon d-flex ">
          </div>
          <img class="img-fluid img-responsive " src="img/twitter_green.jpg " alt=" ">
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="campaign-icons-item mx-auto mb-0 mb-lg-3 ">
          <div class="campaign-icons-icon d-flex ">
          </div>
          <img class="img-fluid img-responsive " src="img/instagram_green.jpg " alt=" ">
        </div>
      </div>
    </div>
  </div>

  <div class="container ">
    <div class="row ">
      <div class="container born-free-container ">
        <buttton class="btn btn-outlined btn-success ">#BORNFREE CAMPAIGN</buttton>
      </div>
      
      <div class="col-lg-4 ">
        <div class="campaign-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 ">
          <div class="campaign-icons-icon d-flex ">
          </div>
          <img class="img-responsive img-fluid " src="img/video-thumbnail-1.jpg " alt=" ">
        </div>
        <div class="container ">
          <div class="d-flex flex-row ">
            <div class="p-2 "><img class="img-responsive img-fluid " src="img/Share-01.jpg " alt=" " width="25px " height="25px "></div>
            <div class="p-2 "><img class="img-responsive img-fluid " src="img/Share-03.jpg " alt=" " width="25px " height="25px "></div>
            <div class="p-2 "><img class="img-responsive img-fluid " src="img/Share-05.jpg " alt=" " width="25px " height="25px "></div>
          </div>
        </div>
        <div class="row born-free-paragraph ">#bornperfect #stopfgm</div>
      </div>

      <div class="col-lg-4 ">
        <div class="campaign-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 ">
          <div class="campaign-icons-icon d-flex ">
          </div>
          <img class="img-fluid img-responsive " src="img/video-thumbnail-2.jpg " alt=" ">
        </div>
        <div class="container ">
          <div class="d-flex flex-row ">
            <div class="p-2 "><img class="img-responsive img-fluid " src="img/Share-01.jpg " alt=" " width="27px " height="27px "></div>
            <div class="p-2 "><img class="img-responsive img-fluid " src="img/Share-03.jpg " alt=" " width="25px " height="25px "></div>
            <div class="p-2 "><img class="img-responsive img-fluid " src="img/Share-05.jpg " alt=" " width="25px " height="25px "></div>
          </div>
        </div>
        <div class="container " >
          <div class="row born-free-paragraph ">She won't cut her daughter #bornperfect #stopfgm</div>
        </div>
      </div>

      <div class="col-lg-4 ">
        <div class="campaign-icons-item mx-auto mb-0 mb-lg-3 ">
          <div class="campaign-icons-icon d-flex "></div>
          <img class="img-fluid img-responsive " src="img/video-thumbnail-3.jpg " alt=" ">
        </div>
        
        <div class="container ">
          <div class="d-flex flex-row ">
            <div class="p-2 "><img class="img-responsive img-fluid " src="img/Share-01.jpg " alt=" " width="25px " height="25px "></div>
            <div class="p-2 "><img class="img-responsive img-fluid " src="img/Share-03.jpg " alt=" " width="25px " height="25px "></div>
            <div class="p-2 "><img class="img-responsive img-fluid " src="img/Share-05.jpg " alt=" " width="25px " height="25px "></div>
          </div>
        </div>

        <div class="row born-free-paragraph ">Share your story #bornperfect</div>

      </div>
    </div>
  </div>
</section>