<!-- Mapping Section-->
<section class="mapping mapping-parent-container " id="map" style="height:auto; ">
  <div class="container ">

    <div class="row" style="padding-bottom:2rem;">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="embed-container maps embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="100%" height="730px" frameborder="0" src="https://codeforafrica.carto.com/viz/b55d2b17-1b60-49be-9e14-36e73296e70f/embed_map?zoom=6&amp;center_lat=9.180277&amp;center_lon=7.671802" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="mapping-intro">
          <h2 style="font-size:1.7rem; padding-bottom:1rem;">Mapping the problem</h2>
          Born Perfect tracks the dangerous acts of Female Genital Mutilation (FGM) across Africa. It shines a light on these practices happening in various regions, placing them on a five point scale ranging from very low to very high incidences of women who have undergone a form of FGM.
        </div>
        <ul>
         <li>
          <div class="d-flex flex-row" style="display:flex">
            <div class="p-2" style="height:70px;width:70px;"><img src="img/bulletpoints/bullet-6.jpg " class="img-responsive img-fluid" alt="Image goes here" style="height: 50px;width: 40px;"></div>
            <div class="p-2" style="padding-left:0rem!important;">Very low: Up to 2.8 percent.</div>
          </div>
        </li>
        <li>
          <div class="d-flex flex-row" style="display:flex">
            <div class="p-2" style="height:70px;width:70px;"><img src="img/bulletpoints/bullet-7.jpg " class="img-responsive img-fluid " alt="Image goes here" style="height: 50px;width: 40px;"></div>
            <div class="p-2" >Low: Between 2.9 and 11 percent.</div>
          </div>
        </li>
        <li>
          <div class="d-flex flex-row" style="display:flex">
            <div class="p-2" style="height:70px;width:70px;"><img src="img/bulletpoints/bullet-8.jpg " class="img-responsive img-fluid " alt="Image goes here" style="height: 50px;width: 40px;"></div>
            <div class="p-2" style="padding-left:1rem!important;">Medium: Between 11.2 and 31.9 percent.</div>
          </div>
        </li>
        <li>
          <div class="d-flex flex-row" style="display:flex">
            <div class="p-2" style="height:70px;width:70px;"><img src="img/bulletpoints/bullet-9.jpg " class="img-responsive img-fluid " alt="Image goes here" style="height: 50px;width: 40px;"></div>
            <div class="p-2">High: Between  32.2 and 45 percent.
            </div>
          </div>
        </li>
        <li>
          <div class="d-flex flex-row" style="display:flex">
            <div class="p-2" style="height:70px;width:70px;"><img src="img/bulletpoints/bullet-10.jpg " class="img-responsive img-fluid " alt="Image goes here" style="height: 50px;width: 40px;"></div>
            <div class="p-2" style="padding-left:0rem!important;">Very High: Up to 76.6 percent.</div>
          </div>
        </li>
        <p><a href="https://africaopendata.org/dataset/female-genital-mutilation-nigeria"><button class="btn btn-outlined btn-success explore-button">EXPLORE THE DATA</button></a></p>
      </ul> 
    </div>
  </div>
  <div class="container" style="padding:0px;">
    <p class="mb-5">
      <a class="btn btn-outlined btn-primary" disabled>INTERNATIONAL  STORIES</a>
    </p>
    <div class="row">
      <div class="col-lg-6 col-xs-6 col-md-6" style="padding-right:4rem;">
        <a href="../stories"><img class="img-fluid img-responsive" src='img/logos/BP-Kenya.jpg' onmouseover="this.src='img/logos/BP-Kenya-over.jpg'" onmouseout="this.src='img/logos/BP-Kenya.jpg'" alt="Image goes here " height="300px" width="500px"></a>
      </div>
      <div class="col-lg-6 col-xs-6 col-md-6" style="padding-right:4rem;">
        <a href="../stories"><img class="img-fluid img-responsive" src='img/logos/BP-Tanzania.jpg' onmouseover="this.src='img/logos/BP-Tanzania-over.jpg'" onmouseout="this.src='img/logos/BP-Tanzania.jpg'" alt="Image goes here " height="300px" width="500px"></a>
      </div>
    </div>
  </div>
</div>
</section>
