<!-- Mapping Section-->
<section class="mapping mapping-parent-container " id="map" style="height:auto; ">
  <div class="container ">

    <div class="row" style="padding-bottom:2rem;">
      <div class="col-md-8">
        <div class="embed-container maps">
          <iframe width="100%" height="740px" frameborder="0" src="https://codeforafrica.carto.com/viz/b55d2b17-1b60-49be-9e14-36e73296e70f/embed_map?zoom=6&amp;center_lat=9.180277&amp;center_lon=7.671802" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="mapping-intro">
          <h2 style="font-size:1.7rem; padding-bottom:1rem;">Mapping the problem</h2>
          FGM- the Female Genital Mutilation Network
          - tracks these dangerous acts around the world. The project helps define how much occurs in various regions by placing them on a five-point scale  that ranges from low to very high.
        </div>
        <ul>
         <li>
          <div class="d-flex flex-row" style="display:flex">
            <div class="p-2"><img src="img/bulletpoints/bullet-1.jpg " class="img-responsive img-fluid" alt="Image goes here"></div>
            <div class="p-2">Very low: Up to 2.8 percent of women have undergone any form of FGM</div>
          </div>
        </li>
        <li>
          <div class="d-flex flex-row" style="display:flex">
            <div class="p-2"><img src="img/bulletpoints/bullet-2.jpg " class="img-responsive img-fluid " alt="Image goes here"></div>
            <div class="p-2">Low: Between 2.9 and 11 percent of women have undergone of FGM</div>
          </div>
        </li>
        <li>
          <div class="d-flex flex-row" style="display:flex">
            <div class="p-2"><img src="img/bulletpoints/bullet-3.jpg " class="img-responsive img-fluid " alt="Image goes here"></div>
            <div class="p-2">Medium: Between 11.2 and 31.9 percent of women have undergone</div>
          </div>
        </li>
        <li>
          <div class="d-flex flex-row" style="display:flex">
            <div class="p-2"><img src="img/bulletpoints/bullet-4.jpg " class="img-responsive img-fluid " alt="Image goes here"></div>
            <div class="p-2">High: Between  32.2 and 45 percent of women have undergone</div>
          </div>
        </li>
        <li>
          <div class="d-flex flex-row" style="display:flex">
            <div class="p-2"><img src="img/bulletpoints/bullet-5.jpg " class="img-responsive img-fluid " alt="Image goes here"></div>
            <div class="p-2">Very High: Up to 76.6 percent of women have undergone.</div>
          </div>
        </li>
        <p><a href="https://africaopendata.org/dataset/female-genital-mutilation-nigeria"><button class="btn btn-outlined btn-success explore-button">EXPLORE THE DATA</button></a></p>
      </ul> 
    </div>
  </div>
  <div class="container">
    <p class="mb-5">
      <a class="btn btn-outlined btn-primary" disabled>INTERNATIONAL  STORIES</a>
    </p>
    <div class="row">
      <div class="col-lg-6 col-xs-6 col-md-6 pb-4">
        <a href="../stories"><img class="img-fluid img-responsive" src='img/logos/BP-Kenya.jpg' onmouseover="this.src='img/logos/BP-Kenya-over.jpg'" onmouseout="this.src='img/logos/BP-Kenya.jpg'" alt="Image goes here " height="300px" width="500px"></a>
      </div>
      <div class="col-lg-6 col-xs-6 col-md-6 pb-4">
        <a href="../stories"><img class="img-fluid img-responsive" src='img/logos/BP-Tanzania.jpg' onmouseover="this.src='img/logos/BP-Tanzania-over.jpg'" onmouseout="this.src='img/logos/BP-Tanzania.jpg'" alt="Image goes here " height="300px" width="500px"></a>
      </div>
    </div>
  </div>
</div>
</section>
